<div class="text-center">
    <h1><strong>"Up"</strong> is here to entertain you!</h1> 
    <h4>In "Up", you can view bunch of random stories, images or clips. <br>
        If you are tired watching other ppl's posts, you can upload your own posts. <br>
        All you need to do is <%= link_to "Register", signup_path %>.</h4>
    <br>
    <br>
    <%= image_tag("welcome.gif", alt: "welcome", width: 350, height: 300) %>
    
</div>
