<h3> Select existing Category </h3>
<%= f.collection_select(:category_id, Category.all, :id, :name) %>

<h3> Create New Category</h3>
<%= f.fields_for :category do |c| %>
    <%= c.label :name %>
    <%= c.text_field :name %><br>
<% end %>